* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    overflow-x: hidden;
    max-width: 100%;
    scrollbar-width: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    width: cover;
    background-color: #111;
    overflow-x: hidden;
    max-width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #app {
    font-family: "Cormorant Garamond", serif;
  }